
#menu {
  background-color: black;
  height: 70px;
  justify-content: center;
}

.container {
  margin-top: 70px;
  text-align: center;
}

footer {
  background-color: #3d3d3d;
  text-align: center;
}